<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/welcome_msg"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalProject"
        tools:targetApi="31">


        <activity
            android:name=".data.SavedWords"
            android:exported="false" />

        <activity
            android:name=".data.DictionaryActivity"
            android:exported="false" />


        <activity
            android:name=".data.MainActivity"
            android:exported="true"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".data.Playlist"
            android:exported="true">

        </activity>
        <activity
            android:name=".data.Deezer"
            android:exported="true">
        </activity>

        <activity
            android:name=".data.RecipeMainActivity" />

        <activity
            android:name=".data.RecipeSearchActivity"
            />
        <activity
            android:name=".data.AboutMeActivity"
            />
        <activity
            android:name=".data.SearchEmptyActivity"
            />

        <activity
            android:name=".data.FavEmptyActivity"
            />
        <activity
            android:name=".data.RecipeFavActivity"/>

        <activity android:name=".data.SunActivity" />
        <activity android:name=".data.FavoritesActivity" />

    </application>

</manifest>